{% extends 'base.html' %} {% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">
            Login to Your Account
        </h2>
        <form method="post">
            {% csrf_token %}
            <div class="space-y-6">{{ form.as_p }}</div>
            <button
                type="submit"
                class="w-full py-3 bg-black text-white font-semibold rounded-lg hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-400 transition ease-in-out duration-200 transform hover:scale-105"
            >
                Login
            </button>
        </form>
        <div class="mt-6 text-center">
            <a
                href="{% url 'password_reset' %}"
                class="text-sm text-blue-600 hover:text-blue-500 focus:outline-none"
                >Forgot your password?</a
            >
        </div>
    </div>
</div>
{% endblock %}
